# Statements Assessment Test
Let's test your knowledge!

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [29]:
st = 'Print only the words that start with s in this sentence'

In [30]:
st=st.split()
print (st)
for i in st:
    if i[0]=="s":
        print(i)

['Print', 'only', 'the', 'words', 'that', 'start', 'with', 's', 'in', 'this', 'sentence']
start
s
sentence

______
**Use range() to print all the even numbers from 0 to 10.**

In [4]:
for i in range(0,11):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [20]:
#Code in this cell
div_by_3=[i for i in range(1,51) if i % 3 == 0 ]
print(div_by_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [22]:
st = 'Print every word in this sentence that has an even number of letters'
st=st.split()
[i for i in st if len(i)%2==0]

['word', 'in', 'this', 'sentence', 'that', 'an', 'even', 'number', 'of']

In [ ]:
#Code in this cell

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [23]:
st = 'Create a list of the first letters of every word in this string'
st = st.split()
[i[0] for i in st]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [ ]:
#Code in this cell

_____
**Below represents a list of names of people and corresponding bitcoins in their wallet**
```
people = [
{'name': "Tom", 'coins': 10},
{'name': "Mark", 'coins': 5},
{'name': "Pam", 'coins': 7},
{'name': "Sam", 'coins': 200},
{'name': "Vito", 'coins': 4444},
{'name': "Sonny", 'coins': 0},
{'name': "Michael", 'coins': 232}
]
```

Please answer below questions

##### Q1. Name of the wealthiest person

In [39]:
people = [
{'name': "Tom", 'coins': 10},
{'name': "Mark", 'coins': 5},
{'name': "Pam", 'coins': 7},
{'name': "Sam", 'coins': 200},
{'name': "Vito", 'coins': 4444},
{'name': "Sonny", 'coins': 0},
{'name': "Michael", 'coins': 232}
]

for i in people:
    if i[1]>

##### Q2. Total number of Bitcoins across all wallets

In [41]:
people[1]("coins")

TypeError: 'dict' object is not callable

##### Q3. Filter all the high net worth clients (who have 200 or more bitcoins)

##### Q4. Create another dictionary where corresponding usd value is also stored (1 bitcoin = 38471 USD)

Expected sample output
```
[ {"name": "Tom", "coins": 10, "usd": 384710}, 
  {'name': "Mark", 'coins': 5, "usd": 192355},
  ...
]
```

### Great Job!